#fb{
    font-size: 30;
    background-color: rgb(222, 236, 247);
    color: rgb(48, 48, 233);
    text-align: center;
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aliceblue;
}
.container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px;
}
.login-form{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
input{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(222, 217, 199);
    border-radius: 4px;

}
button{
    padding: 10px;
    background-color: rgb(70, 70, 235);
    color: azure;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a{
    color: rgb(64, 64, 244);
    text-align: center;
    text-decoration: none;

}
button,a{
    margin-top: 10px;

}
button:hover,a:hover{
    opacity: 0.8;
}
